.padrao1{
    
    color:blue;
    font-family: verdana;
    font-size: 20px;
    
}

.padrao2{
    
    color:crimson;
    font-family: arial;
    background-color: cornflowerblue;
    border: 1px solid yelow :
    
}