<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Introdução ao Vue JS</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>

    <div id="app">

      <gui-titulo v-bind:titulo="meuTitulo"></gui-titulo>

      <input type="text" v-model="meuTitulo">

      <gui-tabela v-bind:titulos="['Título','Descrição','Link']" v-bind:registros="registros"></gui-tabela>


    </div>



    <script type="text/javascript">

      Vue.component('gui-titulo',{
        props:['titulo'],
        template:'<h2>{{ titulo }}</h2>'
      });

      Vue.component('gui-tabela',{
        props:['titulos','registros'],
        template:'<table style="width:100%">'+
          '<thead>'+
            '<tr>'+
              '<th v-for="titulo in titulos">{{titulo}}</th>'+
            '</tr>'+
          '</thead>'+
          '<tbody>'+
            '<tr v-for="registro in registros">'+
              '<td v-for="item in registro">{{item}}</td>'+
            '</tr>'+
          '</tbody>'+
        '</table>'
      });

      var app = new Vue({
        el:"#app",
        data:{
          meuTitulo:'Esse é o Título',
          registros:[
            {titulo:'Título 1',descricao:'descricao1',link:'link1'},
            {titulo:'Título 2',descricao:'descricao2',link:'link2'},
            {titulo:'Título 3',descricao:'descricao3',link:'link3'}
          ]
        }

      });


    </script>

  </body>
</html>
